html {
	scroll-behavior: smooth;
}

body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    width: 100%;
    height: 52px;
}

.nav-bar img {
    float: left;
    padding-left: 18px;
    padding-top: 6px;
    height: 40px;
    width: 40px;
}

.nav-bar .text {
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.nav-bar span {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
}

.nav-bar a {
    float: right;
    text-align: center;
    padding-right: 18px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.nav-bar a:link {
    text-decoration: none;
}

.nav-bar a:active {
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: none;
}

.nav-bar a:visited {
    text-decoration: none;
}

.title-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.email {
    font-size: 0.8em;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 4em;
    display: block;
}

.subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    letter-spacing: 1.4px;
    display: block;
    margin-top: 8px;
    margin-bottom: 15px;
}

.title-container a {
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
}

.title-container a:link {
    text-decoration: none;
}

.title-container a:active {
    text-decoration: none;
}

.title-container a:hover {
    text-decoration: none;
}

.title-container a:visited {
    text-decoration: none;
}

.blog {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog a:link {
    text-decoration: none;
}

.blog a:active {
    text-decoration: none;
}

.blog a:hover {
    text-decoration: none;
}

.blog a:visited {
    text-decoration: none;
}

.name {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    display: block;
}

.description {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    display: block;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
}

.projects-container {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.projects-container .title {
    font-size: 4em;
}

.projects-container .project {
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
}

.project h2 {
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px
}

.project p {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px
}

.preview-project {
    width: 15%;
    height: auto;
    min-width: 200px;
}