html {
	scroll-behavior: smooth;
}

body {
    background: url("../img/background.jpg") center center no-repeat fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    letter-spacing: 1.4px;
    display: block;
    padding-top: 20px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    height: 400px;
}

.commissions {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    margin: 10%;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 64px;
    display: block;
    text-align: center;
}

.subtitle {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 1.4px;
    display: block;
    margin-top: 8px;
    text-align: center;
}

.seperator {
    height: 200px;
}

.end-seperator {
    height: 20px;
}

@media (max-width: 700px) {
    a {
        font-size: 32px;
    }

    img {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 44px;
    }

    .subtitle {
        font-size: 18px;
    }
}